/*login section*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.login {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url(/static/img/bg1.jpg);
}

.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
}

.left-side {
    flex: 1;
    background-color: #ffffff;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.left-side .welcome-image {
    width: 800px;
    max-width: 500px;
    height: 1000px;
    border-radius: 10px;
    object-fit: cover;
}

.right-side {
    flex: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:#636863;

}

.right-side h2 {
    font-size: 2.1em;
    margin-bottom: 30px;
    color: #ffffff;
    font-family: "Jersey 15", serif;
    font-weight: 700;
    font-style: normal;      
}

.right-side form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    font-size: 0.9em;
    color: #007bff;
    text-decoration: none;
    text-align: center;
}

.forgot-password:hover {
    text-decoration: underline;
    color: #0056b3;
}

.right-side .btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 150px;
    font-size: 1.1em;
    cursor: pointer;
    margin-top: 20px;
}

.right-side .btn:hover {
    background-color: #0056b3;
}

.right-side p {
    margin-top: 15px;
    font-size: 1em;
    text-align: center;
    color: #ffffff;
}

.right-side a {
    color: #242a2f;
    text-decoration: none;
}

.right-side a:hover {
    text-decoration: underline;
    color: orange;
}

/* Responsive Design */
/* @media (max-width: 1024px) {
    .container {
        width: 90%;
    }

    .right-side h2 {
        font-size: 2.5em;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .right-side h2 {
        font-size: 2em;
    }

    .right-side form {
        width: 100%;
        max-width: 300px;
    }

    .right-side .btn {
        width: 100%;
    }
}

@media (max-width: 480px) {

    .right-side h2 {
    font-size: 1.8em;
    }

    .right-side form {
    max-width: 100%;
    }
}
 */

 @media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 90%;
    }
}
