<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&family=Oleo+Script:wght@400;700&family=Rubik+Vinyl&family=Sixtyfour&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="{% static 'css/login.css' %}" rel="stylesheet" />

    <title>EPI-Login</title>

</head>
<body class="login">
    <div class="container">
        <div class="left-side">
            <img src="{% static 'img/loginimage.jpg' %}"  alt="Welcome Image" class="welcome-image">
        </div>
        <div class="right-side">
            <h2>Login</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn">Login</button>
            </form>
            <p>Don't have an account? <a href="{% url 'signup' %}">Register here</a></p>
        </div>
    </div>
</body>
</html>